[Desktop Entry]
Name=DamaDamas
X-KDE-PluginInfo-Name=DamaDamas
X-KDE-PluginInfo-Author=fatihkaya
X-KDE-PluginInfo-Email=trlinux41@gmail.com
X-KDE-PluginInfo-License=LGPLv3
