[SddmGreeterTheme]
Name=DamaDamas
Name[ar]=داماداماس
Name[ast]=DamaDamas
Name[bs]=DamaDamas
Name[ca]=DamaDamas
Name[ca@valencia]=DamaDamas
Name[cs]=DamaDamas
Name[da]=DamaDamas
Name[de]=DamaDamas
Name[el]=DamaDamas
Name[en_GB]=DamaDamas
Name[es]=DamaDamas
Name[et]=DamaDamas
Name[fi]=DamaDamas
Name[fr]=DamaDamas
Name[gl]=DamaDamas
Name[hu]=DamaDamas
Name[id]=DamaDamas
Name[is]=DamaDamas
Name[it]=DamaDamas
Name[ja]=DamaDamas
Name[ko]=DamaDamas
Name[lt]=DamaDamas
Name[nb]=DamaDamas
Name[nds]=DamaDamas
Name[nl]=DamaDamas
Name[nn]=DamaDamas
Name[pl]=DamaDamas
Name[pt]=DamaDamas
Name[pt_BR]=DamaDamas
Name[ru]=DamaDamas
Name[sk]=DamaDamas
Name[sl]=DamaDamas
Name[sr]=DamaDamas
Name[sr@ijekavian]=DamaDamas
Name[sr@ijekavianlatin]=DamaDamas
Name[sr@latin]=DamaDamas
Name[sv]=DamaDamas
Name[tr]=DamaDamas
Name[uk]=DamaDamas
Name[x-test]=xxDamaDamasxx
Name[zh_CN]=微风
Name[zh_TW]=微風
Description=DamaDamas Theme
Description[ar]=سمة داماداماس
Description[ast]=Tema DamaDamas
Description[bs]=DamaDamas Tema
Description[ca]=Tema DamaDamas
Description[ca@valencia]=Tema DamaDamas
Description[cs]=Motiv DamaDamas
Description[da]=DamaDamas-temaet
Description[de]=DamaDamas-Design
Description[el]=Θέμα DamaDamas
Description[en_GB]=DamaDamas Theme
Description[es]=Tema DamaDamas
Description[et]=DamaDamas teema
Description[fi]=DamaDamas-teema
Description[fr]=Thème DamaDamas
Description[gl]=Tema DamaDamas
Description[he]=ערכת הנושא DamaDamas
Description[hu]=DamaDamas téma
Description[id]=Tema DamaDamas
Description[is]=DamaDamas þema
Description[it]=Tema DamaDamas
Description[ja]=DamaDamas テーマ
Description[ko]=DamaDamas 테마
Description[lt]=DamaDamas apipavidalinimas
Description[nb]=DamaDamas-tema
Description[nds]=DamaDamas-Muster
Description[nl]=Thema DamaDamas
Description[nn]=DamaDamas-tema
Description[pa]=ਥੀਮ damadamas
Description[pl]=Wystrój DamaDamas
Description[pt]=Tema DamaDamas
Description[pt_BR]=Tema DamaDamas
Description[ru]=Тема «DamaDamas»
Description[sk]=Téma DamaDamas
Description[sl]=Tema DamaDamas
Description[sr]=Тема DamaDamas
Description[sr@ijekavian]=Тема DamaDamas
Description[sr@ijekavianlatin]=Tema DamaDamas
Description[sr@latin]=Tema DamaDamas
Description[sv]=DamaDamas-tema
Description[tr]=DamaDamas Teması
Description[uk]=Тема «DamaDamas»
Description[x-test]=xxDamaDamas Themexx
Description[zh_CN]=微风主题
Description[zh_TW]=微風主題
Author=David Edmundson
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=DamaDamas
Theme-API=2.0
